# Data for Project 2 (students)

In [26]:
import pandas as pd
import numpy as np

In [32]:
df_system = pd.read_hdf("../data/trappist_bodies.hdf5", "LOCAL_UNITS")

In [33]:
system

   name      mass     period  radius  semi-major  eccentricity
0     b  0.000032   1.510871   1.086       11.11         0.081
1     c  0.000052   2.421823   1.056       15.21         0.083
2     d  0.000015   4.049610   0.772       21.44         0.070
3     e  0.000023   6.099615   0.918       28.17         0.085
4     f  0.000025   9.206690   1.045       37.10         0.063
5     g  0.000050  12.352940   1.127       45.10         0.061
6     h       NaN  20.000000   0.755       63.00           NaN
7  star  1.000000        NaN   0.117         NaN           NaN

In [34]:
df_planets = system[system['name'] != "star"]
df_planets = df_planets.dropna()
star = df_system[df_system['name'] == "star"]
M_star = star['mass'].iloc[0]  

assert M_star == 1.0

In [35]:
print(",\n".join(["'{0}': {1!r}".format(key, x.values) for key,x in df_planets.items()]))

'name': array(['b', 'c', 'd', 'e', 'f', 'g'], dtype=object),
'mass': array([  3.18221540e-05,   5.16642030e-05,   1.53495096e-05,
         2.32114535e-05,   2.54577232e-05,   5.01666899e-05]),
'period': array([  1.51087081,   2.4218233 ,   4.04961   ,   6.099615  ,
         9.20669   ,  12.35294   ]),
'radius': array([ 1.086,  1.056,  0.772,  0.918,  1.045,  1.127]),
'semi-major': array([ 11.11,  15.21,  21.44,  28.17,  37.1 ,  45.1 ]),
'eccentricity': array([ 0.081,  0.083,  0.07 ,  0.085,  0.063,  0.061])

In [36]:
planets = {
    'name': np.array(['b', 'c', 'd', 'e', 'f', 'g']),
    'mass': np.array([  3.18221540e-05,   5.16642030e-05,   1.53495096e-05,
             2.32114535e-05,   2.54577232e-05,   5.01666899e-05]),
    'period': np.array([  1.51087081,   2.4218233 ,   4.04961   ,   6.099615  ,
             9.20669   ,  12.35294   ]),
    'radius': np.array([ 1.086,  1.056,  0.772,  0.918,  1.045,  1.127]),
    'semi-major': np.array([ 11.11,  15.21,  21.44,  28.17,  37.1 ,  45.1 ]),
    'eccentricity': np.array([ 0.081,  0.083,  0.07 ,  0.085,  0.063,  0.061])
}

In [38]:
planets['mass']

array([  3.18221540e-05,   5.16642030e-05,   1.53495096e-05,
         2.32114535e-05,   2.54577232e-05,   5.01666899e-05])